$main: #0d2565;
@charset "UTF-8";
@font-face {
  font-family: 'Alien';
  src: url('assets/font/ALIEN5_0.TTF');
}

*:not(.fa) {
  font-family: 'Alien';
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  line-height: 1.7;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

h1,h2,h3,h4 {
  margin: 0;
}

.bg {
  height: 100%;
  width: 100%;
  background: #000;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/main/bg.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}

.character {
  position: relative;
  height: 100%;
  margin: auto;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  animation: character_blur 2s 0s infinite alternate;
  overflow: hidden;

  img {
    height: 100%;
    overflow: hidden;
    //flex: 1 1;
  }
}

.ks-logo {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.rayark-logo {
  position: absolute;
  bottom: 4%;
  right: 5%;
}

.header {
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #FFF;
  font-family: Alien;
  position: absolute;
  top: 0px;
  background: rgba(0,0,0,0.3);
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  animation: header_color 2s 0s infinite alternate;
  overflow: hidden;
  flex-wrap: wrap;

  .entrance {
    width: 100%;
    text-align: center;
    margin-top: -5%;
  }

  .logo {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    height: 100px;
  }

  .word {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    height: 100px;
  }

  img.logo {
    //position: absolute;
    margin: auto;
    width: auto;
  }

  img.word {
    margin: auto;
    width: auto;
    height: auto;
    margin: auto;
  }

  img.btn {
    //top: 65%;
    box-shadow: 0 0 228px 36px #33ffff, inset 0 0 120px 0px #33ffff;
    animation: btn_shadow 1.5s 0.1s infinite alternate;
    width: 18%;
    cursor: pointer;
  }

  img {
    height: auto;
    width: auto;
    margin: auto;
  }
}

.modal-bg{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.modal {
  width: 1000px;
  height: 500px;
  border: 1px solid #3becec;
  border-radius: 6px;
  margin: auto;
  background: rgba(0,0,0,0.78);
  position: relative;
  color: #3becec;

  .close {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }

  .modal-content {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    animation: modal_video 0.2s 1.2s 1 both;
  }
}

.modal-animation {
  animation: modal_animation 1.2s 0.1s 1 both;
}

.modal-hide {
  animation: modal_disappear 0.5s 0s 1 both;
  opacity: 1;
}

@keyframes header_color {
    from {
      background: rgba(0,0,0,0.5);
    }

    to {
      background: rgba(0,0,0,0.2);
    }
}

@keyframe word_ani {
    from {
      filter: blur(10px);
    }

    to {
      filter: blur(0px);
    }
}

@keyframes btn_shadow {
  from {
    box-shadow: 0 0 408px 70px #33ffff, inset 0 0 140px -20px #33ffff;
  }

  to {
    box-shadow: 0 0 158px 20px #33ffff, inset 0 0 200px -20px #33ffff;
  }
}

@keyframes character_blur {
    0% {
      filter: blur(0px);
      opacity: 1;
      transform: translateX(0px);
    }

    17% {
      filter: blur(0px);
    }

    18% {
      filter: blur(20px);
    }

    21% {
      filter: blur(0px);
      opacity: 1;
      transform: skew(0deg);
    }

    21.5% {
      //overflow: hidden;
      opacity: 0.3;
      filter: blur(5px);
      transform: skew(45deg);
    }

    22% {
      opacity: 1;
      filter: blur(0px);
      transform: skew(0deg);
    }

    100% {
      filter: blur(0px);
    }
}



@keyframes modal_animation {
    0% {
      height: 80px;
      width: 160px;
      opacity: 0;
    }

    20%{
      opacity: 0.5;
    }

    60% {
      //height: 600px;
      height: 80px;
      width: 80%;
      opacity: 1;
    }

    100% {
      height: 80%;
      width: 80%;
    }
}

@keyframes modal_video {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
}

@keyframe modal_disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    //display: none;
  }
}

.popup {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    transform-style: preserve-3d;
    bottom: -20px;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}



@media screen and (max-width:768px){

}