$main: #0d2565;
@charset "UTF-8";
@font-face {
  font-family: 'Alien';
  src: url('../img/main/alien.ttf');
}

*:not(.fa) {
  font-family: 'Alien';
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  line-height: 1.7;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Alien';
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

h1,h2,h3,h4 {
  margin: 0;
}
.loading-block-wrap {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .up-block {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 50%;
    background: #000;
    animation: loading_after_up 0.5s 3.3s 1 both;
    border-bottom: 1px solid rgba(255,255,255,0);
  }

  .down-block {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50%;
    background: #000;
    animation: loading_after_down 0.5s 3.3s 1 both;
    border-top: 1px solid rgba(255,255,255,0);
  }
}

.loading-block {
  width: 100%;
  height: 100%;
  //background: #000;
  position: relative;
  display: flex;
  align-items: center;
  //animation: loading_after 0.2s 3s 1 both;
  overflow: hidden;
  
  .loading-bar {
    height: 3px;
    width: 100%;
    position: relative;
    display: flex;
    //background: rgba(255, 255, 255, 0.2)
  }

  .loading-bar-inside {
    background: #FFF;
    height: 100%;
    box-shadow: 0 0 45px 3px #3becec;
    animation: loading 3s 0s 1 both ease-in;
  }
}

.bg {
  height: 100%;
  width: 100%;
  background: #000;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/main/bg.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}

.character {
  position: relative;
  height: 100%;
  margin: auto;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  animation: character_blur 3s 2s infinite alternate;
  overflow: hidden;
  display: none;

  img {
    
    height: 95%;
    width: auto;
    margin: auto;
    margin-top: 5%;
    overflow: hidden;
  }
}

.ks-logo {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.rayark-logo {
  position: absolute;
  bottom: 2.5%;
  right: 5%;
}

.header {
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #FFF;
  font-family: Alien;
  position: absolute;
  top: 0px;
  background: rgba(0,0,0,0.3);
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  animation: header_color 2s 0s infinite alternate;
  overflow: hidden;
  flex-wrap: wrap;

  .entrance {
    width: 100%;
    text-align: center;
    margin-top: -5%;
  }

  .logo {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    height: 100px;
  }

  .word {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    height: 100px;
  }

  img.word2 {
    display: none;
  }

  img.logo {
    //position: absolute;
    margin: auto;
    width: auto;
    height: 80%;
  }

  img.word {
    margin: auto;
    width: 70%;
    height: auto;
    margin: auto;
  }

  img.btn {
    //top: 65%;
    box-shadow: 0 0 228px 36px #33ffff, inset 0 0 120px 0px #33ffff;
    animation: btn_shadow 1.5s 0.1s infinite alternate;
    width: 18%;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 158px 20px #33ffff, inset 0 0 200px -20px #33ffff;
    }
  }

  img {
    height: auto;
    width: auto;
    margin: auto;
  }
}

.modal-bg{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.modal {
  width: 1000px;
  height: 500px;
  border: 1px solid #3becec;
  border-radius: 6px;
  margin: auto;
  background: rgba(0,0,0,0.78);
  position: relative;
  color: #3becec;

  .close {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }

  .modal-content {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    animation: modal_video 0.2s 1.2s 1 both;
  }
}

.modal-animation {
  animation: modal_animation 1.2s 0.1s 1 both;
}

.modal-hide {
  animation: modal_disappear 0.5s 0s 1 both;
  opacity: 1;
}

@keyframes header_color {
    from {
      background: rgba(0,0,0,0.5);
    }

    to {
      background: rgba(0,0,0,0.2);
    }
}


@keyframes btn_shadow {
  from {
    box-shadow: 0 0 408px 70px #33ffff, inset 0 0 140px -20px #33ffff;
  }

  to {
    box-shadow: 0 0 158px 20px #33ffff, inset 0 0 200px -20px #33ffff;
  }
}

@keyframes character_blur {
    0% {
      //filter: blur(0px);
      opacity: 1;
      transform: translateX(0px);
    }

    19% {
      //filter: blur(0px);
      transform: skew(0deg);
      opacity: 1;
    }

    20% {
      //filter: blur(20px);
      transform: skew(-20deg);
      opacity: 0.5;
    }

    21% {
      //filter: blur(0px);
      opacity: 1;
      transform: skew(0deg);
    }

    21.5% {
      //overflow: hidden;
      opacity: 0.3;
      //filter: blur(5px);
      transform: skew(45deg);
    }

    22% {
      opacity: 1;
      //filter: blur(0px);
      transform: skew(0deg);
    }

    100% {
      //filter: blur(0px);
    }
}

@keyframes modal_animation {
    0% {
      height: 80px;
      width: 160px;
      opacity: 0;
    }

    20%{
      opacity: 0.5;
    }

    60% {
      //height: 600px;
      height: 80px;
      width: 80%;
      opacity: 1;
    }

    100% {
      height: 80%;
      width: 80%;
    }
}

@keyframes modal_animation_phone {
    0% {
      height: 80px;
      width: 160px;
      opacity: 0;
    }

    20%{
      opacity: 0.5;
    }

    60% {
      //height: 600px;
      height: 80px;
      width: 90%;
      opacity: 1;
    }

    100% {
      height: 40%;
      width: 95%;
    }
}


@keyframes modal_video {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
}

@keyframes modal_disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    //display: none;
  }
}

@keyframes loading {
  0% {
    width: 3%;
  }

  95% {
    width: 100%;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading_after_up {
  0% {
    height:50%;
    border-bottom: 0;
  }
  1% {
    height:50%;
    border-bottom: 1px solid rgba(255,255,255,0.7);
  }
  80% {
    height: 20%;
    border-bottom: 1px solid rgba(255,255,255,0);
  }
  100% {
    height: 0%;
    border-bottom: 0;
  }
}

@keyframes loading_after_down {
  0% {
    height:50%;
    border-top: 0;
  }
  1% {
    height:50%;
    border-top: 1px solid rgba(255,255,255,0.7);
  }
  80% {
    height: 10%;
    border-top: 0px solid rgba(255,255,255,0);
  }
  100% {
    height: 0%;
    border-top: 0;
  }
}

.popup {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  transform-style: preserve-3d;
  bottom: -20px;
  text-align: center;
}

@media screen and (max-width:952px){
  .character {
    img {
      height: 80%;
      width: auto;
      transform: translateX(-40%);
      position: relative;
      left: 40%;
      margin-bottom: 0%;
    }
  }

  .header {
    .entrance {
      margin-top: 0%;
    }

    img.btn {
      width: 30%;
      cursor: pointer;
      margin-top: -5%;
      &:hover {
        box-shadow: 0 0 158px 20px #33ffff, inset 0 0 200px -20px #33ffff;
      }
    }

    img.word {
      display: none;
    }

    img.word2{
      display: block;
      width: 60%;
      margin: auto;
    }
  }
}

@media screen and (max-width:500px){
  .character {
    img {
      height: 70%;
      width: auto;
      transform: translateX(-40%);
      position: relative;
      left: 40%;
      margin-top: 20%;
    }
  }

  .bg {
    background-size: 267%;
    background-position: top;
  }

  .header {
    .entrance {
      margin-top: -20%;
    }

    img.btn {
      //top: 65%;
      width: 50%;
      cursor: pointer;
      margin-top: -5%;
      &:hover {
        box-shadow: 0 0 158px 20px #33ffff, inset 0 0 200px -20px #33ffff;
      }
    }

    img.word {
      display: none;
    }

    img.word2{
      display: block;
      width: 80%;
      margin: auto;
    }
  }

  .modal {
    width: 95%;
    height: 50%;
  }

  .modal-animation {
    animation: modal_animation_phone 1.2s 0.1s 1 both;
  }
}